body {
  color: #222;
  letter-spacing: 1px;
}

a {
  color: #FF6347;
}

p {
  color: #888;
}

.color_element {
  color: #FF6347;
}

.color_bg {
  background-color: #FF6347;
}

.color_border {
  border-color: #FF6347;
}

.bg_light {
  background-color: #FAFAFA;
}

.bg_dark {
  background-color: #222;
  color: #fff;
}
.bg_dark .s_descr::after {
  background-color: #fff;
}
.bg_dark a {
  color: #fff;
}

.main_color_bg {
  background-color: #222;
}

.top_mnu a:hover {
  color: #FF6347;
}
.top_mnu a {
  letter-spacing: 4px;
}